<template>
  <h1>
    The Progressive JavaScript Framework
  </h1>
  <hr>
  <p>{{ msg.toUpperCase() }}</p>
<p style="color: blueviolet;"> TEST </p>
<a v-bind:href="web">google</a>
{{ num }}
<h2 :style="`color: ${'brown'}`">${{ savings }}</h2>
<h2 :style="`color: ${price >=200 ? 'red' : 'green'}`">${{ price }}</h2>
<h2 v-bind:class="total >=650 ? button : 'background' ">${{ total }}</h2>
</template>

<style>
.button{
  color: rgb(160, 38, 17);
}

.background{
  color: chartreuse;
}
.h1{
  color: rgb(7, 34, 155);
}

</style>


<script>
const msg = "Hello"
const color ="color:gold,background-color:violat"
const web ="https://www.google.com"
const num1 = 2*5
const savings = 350
const price = 150
const total =500
 export default{
    name:'App',

    data() {
      return {
        total,
        price,
        savings,
        num1,
        msg,
        buttonHTML:
        color,
        web,
      };
    }
  };
</script>